.shop-container{
    display: grid;
    grid-template-columns: 4fr 1fr;
}

.product-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap : 45px;
    margin-top: 88px;
    margin-left: 113px;
}

.cart-container{
    background-color: #FFE0B3;
    padding-top: 0px;
    /* padding-left: 43px; */
    padding-bottom: 50px;
    position: sticky;
    top : 80px;
    height: 500px;
}

.cart-proses-btn{
    width: 400px;
    height: 50px;
    margin: 10px 20px;
    font-size: 21px;
    background-color: #FF9900;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}