.cart-container{
    background-color: #FFE0B3;
    padding-top: 0px;
    padding-left: 43px;
    padding-bottom: 50px;
    position: sticky;
}

.cart-container h2{
    margin-top: 0px;
    padding-top: 55px;
}